<h1 class="text-white text-center text-shadow py-3">學習經歷 Learning Experience</h1>
<div class="container">
    <div class="d-flex flex-wrap wraper">
        <div class="col-12 col-lg-8 justify-content-center">
            <h3 class="text-shadow py-2 font-weight-bold text-white">
                自我介紹
            </h3>
            <p class="text-white lh-2">
                出生於1997年，台北人，處女座O型，喜歡閱讀書籍、運動，個性正直認真，喜歡研究新事物。
            </p>
            <p class="text-white lh-2">
                高中畢業淡水商工資料處理科，考取了很多文書軟體的證照，
                有TQC Word、PowerPoint、Excel，電腦軟體應用丙級、乙級，
                另外還有通過會計技術士檢定丙級，
                在學時也開啟了我對程式語言的興趣。
            </p>
        </div>
        <div class="col-12 col-lg-4">
            <img src="assets/IMG_5689 (1).jpeg" alt="" class="d-block mx-auto my-2 personal-img">
        </div>
    </div>
    <div class="d-flex flex-wrap wraper">
        <div class="col-12 col-lg-8 justify-content-center">
            <h3 class="text-shadow py-2 font-weight-bold text-white">
                就學經歷_大學二年級時期_資訊研習社社長
            </h3>
            <p class="text-white lh-2">
                大學時就讀實踐大學的資訊管理學系，
                大學二年級時擔任資訊研習社社長，
                負責安排社團活動、經費管理，以及擔任社團課堂的講師，
                社團課堂的主要內容為簡單的程式語言，
                讓剛入學的新生有個管道可以較仔細的了解程式語言如何運作，
                社員人數近40人，社團課堂最高參加人數50人左右，
                此經驗讓我對程式語言有更深的理解，且因為每個人腦內邏輯都不同，
                有時須以不同角度多次講解程式碼，累積了不少把程式邏輯傳達給別人的經驗。
            </p>
        </div>
        <div class="col-12 col-lg-4">
            <img src="assets/1667020814711.jpeg" alt="" class="d-block mx-auto my-2 personal-img">
        </div>
    </div>
    <div class="d-flex flex-wrap wraper">
        <div class="col-12 col-lg-8 justify-content-center">
            <h3 class="text-shadow py-2 font-weight-bold text-white">
                就學經歷_大學三年級_專題製作
            </h3>
            <p class="text-white lh-2">
                專題內容為利用光學雷達偵測手指觸碰的位置，
                並回傳到Unity的拼圖遊戲中轉換成遊戲內座標形成互動，
                這項技術可以減少觸控牆面的使用，
                只需投影機，
                光學雷達及筆電，
                在任何有牆壁的地方都可以形成互動牆，
                也可以進一步利用，
                透過光學雷達偵測房間內人體的動作與位置，
                形成互動房間，
                獲得該年多媒體組專題競賽第二名，
                及專題人氣第二名，
                製作時遇到不少困難，
                從中學到很多溝通及小組會議上比較有效率的討論方式。
            </p>
        </div>
        <div class="col-12 col-lg-4">
            <img src="assets/achievement_img1.webp" alt="" class="d-block mx-auto my-2 personal-img">
        </div>
    </div>

    <div class="d-flex flex-wrap wraper">
        <div class="col-12 col-lg-8 justify-content-center">
            <h3 class="text-shadow py-2 font-weight-bold text-white">
                就學經歷_大學四年級到研究所_論文研究及撰寫
            </h3>
            <p class="text-white lh-2">
                大學四年級開始研讀研究所課程以及準備論文，
                論文主題為在亞馬遜雲端平台(Amazon Web Service,AWS)上，
                透過go-Ethereum架設私有鏈，
                並實作證照查詢系統，
                最後比較聯盟鏈，
                私有鏈，
                公開鏈之區別，
                以及在一般伺服器上及雲端平台上架設節點之利弊，
                中途也遇到很多困難，
                不同於專題的是，
                論文並不是小組制，
                大部分時間必須一個人思考解決問題的方式，
                解決之後才能跟指導教授繼續討論方向及下一步，
                這是一次很不錯的研究經驗，
                由於報名的是大學加研究所共五年的碩士學程，
                必須在一年內完成論文及研討會發表才能畢業，
                時常要承受著時間壓力，
                想辦法把進度往前推，
                讓我更加熟悉如何妥善的運用時間，
                並發展自己的知識框架。
            </p>
        </div>
        <div class="col-12 col-lg-4">
            <img src="assets/achievement_img2.webp" alt="" class="d-block mx-auto my-2 personal-img">
        </div>
    </div>

    <div class="d-flex flex-wrap wraper">
        <div class="col-12 col-lg-8 justify-content-center">
            <h3 class="text-shadow py-2 font-weight-bold text-white">
                未來展望與夢想
            </h3>
            <p class="text-white lh-2">
                未來希望能往軟體工程師方向發展，
                並且有機會的話希望可以學習資訊安全相關知識，
                小目標為今年內能考取網路基礎架構與網路服務(Network Infrastructure & Networking Service,NINS)證照。
            </p>
        </div>
    </div>
</div>